/* Configuração Geral */
section, 
article
{
    height: 70vh;
    max-height: 70vh;
    overflow: auto;
}
section {
    scroll-behavior: smooth;
}

/* Barra de Navegação */
.navegacao_lista{
    list-style-type: none;
}
.navegacao_lista li{
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

/* Conteúdo */
section{
     position: relative;
}

/* Pedidos */
table{
    border-collapse: separate;
}
tr,th{
    cursor: pointer ;
}
thead tr{
    line-height: 75px;
}
tbody tr{
    line-height: 55px;
}
thead tr th{
    border-top: 15px solid gray;
}
thead tr th,
tbody tr td{
    border-collapse: separate;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.itens_tabela{
    -webkit-animation: expandindoParaFora 1s;
            animation: expandindoParaFora 1s;
}

/* Favoritos */
.imagem_carousel{
    width: 260px !important;
    height: 180px !important;
}
.favoritos{
    width: 50%;
}

/* Hovers */
tbody tr:hover{
    background: rgba(0,191,255, 0.6) !important;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
tbody tr:not(hover){
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#foto_perfil{
    width: 50px !important;
    height: 50px !important;
}


#enderecos_cadastrados{
    height: 300px;
    overflow: auto;
}

/* Tamanho do cartão */
#cartao{
    width: 30% !important;
}

/* Animações */
@-webkit-keyframes expandindoParaFora {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
@keyframes expandindoParaFora {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes expandindoParaDentro {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes expandindoParaDentro {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
    }
}

@media (max-width: 768px){
    .navegacao_lista li{
        float: left;
    }
    .favoritos{
        width: 100%;
    }
    .favoritos div{
        width: 100%;
    }
    #cartao{
        width: 95% !important;
    }
}