a{
    cursor: pointer;
}
body{
    -webkit-animation: 2s surgir;
            animation: 2s surgir;
}
/* Corpo do Site */
main{
    width: 80%;
    margin: auto;
    background: white;
}

/* Novidades Cards */
.card-img-top{
    width: 350px !important;
}
details {
    position: relative;
}
details[open] summary ~ * {
    -webkit-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
}
summary {
    list-style: none; 
    cursor: pointer; 
}

header, main, footer{
    -webkit-animation: 2s surgir;
            animation: 2s surgir;
}

/* Carousel */
.carousel-caption{
    font-family: 'Titan One';
}
.carousel-caption, 
.carousel-control-next,
.carousel-control-prev
 {
    z-index: 0 !important;
}
.carousel-indicators{
    z-index: 1 !important;
}
/* Animações */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        max-height: 1000px; /* Ajuste conforme necessário */
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        max-height: 1000px; /* Ajuste conforme necessário */
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    main{
        width: 100%;
    }
}