/* Estrutura principal */
main section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url('../img/fundo.png');
}

/* Configura as duas telas dividas */
article {
    width: 50%;
    min-height: 50vh;
    max-height: 70vh;
}

/* Tela de pagamento */
article form {
    width: 50%;
}

.dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.dropdown-menu ul {
    list-style-type: emojis;
}

@counter-style emojis {
    system: cyclic;
    symbols: 🧭 🛣️ 🏘️ 🏠 🌎 🏙️ 🗺️ ⛲ 🗽;
    suffix: "";
}

/* Tela dos produtos */
article:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
article{
    overflow-y: auto;
}

#endereco_lista{
    list-style-type: none;
    background: gray;
}
#endereco_lista li{
    float: left;
    margin: auto 15px;
}
.clear{
    clear: both;
}

.area_produtos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Tela de adição de endereço */
.end_body {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-animation: surgir 2s;
            animation: surgir 2s;
    top: 0;
    left: 0;
}
.end_dados {
    width: 50%;
}

/* Página de pagamento */

/* Cartão */
#cartao,
#cartao input::placeholder,
#cartao input
{
    font-family: 'Dot Digital', sans-serif;
    color: white;
}

#cartao{
    width: 50%;
    background: linear-gradient(to right, red, #ff7b5a );
    box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.5);
    animation: entradaCartao 1s;
    font-weight: bold;
}
#numero_cartao{
    background: transparent;
    border: none;
    font-family: arial;
    width: 100%;
    font-size: 1.5em;
    font-weight: none;
}

/* Hovers */
#numero_cartao:hover{
    border-bottom: 2px dashed white !important;
}

/* Animação */
@keyframes entradaCartao {
    0%{
        transform: translateX(-5rem) rotateY(80deg);
    }
    100%{
        transform: translateX(0px) rotateY(0deg);
    }
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 767.98px) { 
    article,
    article form {
        width: 100%;
    }
    .end_body,
    .end_dados {
        height: auto;
    }
    .end_dados {
        width: 90%;
    }
    #cartao{
        width: 85%;
    }
}