main{
	height: auto;
	background: url('../img/fundo.png');
}
section{
	width: 100%;
}
article{
	width: 50%;
}
/* Ajustando configuração da pagina */
section:nth-child(1){
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
section:nth-child(1) img{
	min-height: 35vh;
	max-height: 35vh;
}
article:nth-child(2){
	height: 100% !important;
}
/* Botões de compras */
.botoes button{
	width: 25%;
}
/*Avaliações*/
.mensagem{
	margin: 5px auto;
	width: 75%;
}
.estrelas{
	color: #FFD700;
}
section:nth-child(2){
	overflow: auto;
	max-height: 30vh;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 767.98px) { 
	article{
		width: 100%;
	}	
	.mensagem{
		width: 95%;
	}
	.botoes button{
		width: 45%;
	}
	section:nth-child(1) img{
		min-height: 30vh;
		max-height: 30vh;
	}
}