*{
	padding: 0;
	margin: 0;
}
/* Fontes */
@font-face{
	font-family: 'Hot Kiss';
	src: url('../fonts/hotkiss.ttf');
}
@font-face{
	font-family: 'Titan One';
	src: url('../fonts/TitanOne-Regular.ttf');
}
@font-face{
	font-family: 'Dot Digital';
	src: url('../fonts/dot_digital-7.ttf');
}

/* Tela de Carregamento */
#tela_carregamento{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
	background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);	
	-webkit-animation: 1s surgir;	
	        animation: 1s surgir;
}
.custom-loader {
	width: 80px;
	height: 80px;
	display: -ms-grid;
	display: grid;
	border:4px solid #0000;
	border-radius: 50%;
	border-color:#E4E4ED #0000;
	-webkit-animation: s6 1s infinite linear;
	        animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
	content:"";
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: 1/1;
	margin:2px;
	border:inherit;
	border-radius: 50%;
}
.custom-loader::before {
	border-color:#766DF4 #0000;
	-webkit-animation:inherit;
	        animation:inherit; 
	-webkit-animation-duration: .5s; 
	        animation-duration: .5s;
	animation-direction: reverse;
}
.custom-loader::after {
	margin:8px;
}
/* Sticky-top */
@supports (position:sticky) {
    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
@supports (position:sticky) {
    .sticky-top {
        z-index: 1;
    }
}
/* Carrinho Desktop */
#carrinho{
	background-color: white;
	font-family: inherit;
	width: 320px;
	max-width: 320px;
	min-height: 320px;
	max-height: 320px;
}
#carrinho i{
	position: sticky;
	color: red;
}
#carrinho_produtos{
	overflow: auto;
	white-space: pre-line !important;		
}

.bandeira_promocao_carrinho{
	-webkit-animation: pulsar 2s infinite;
	        animation: pulsar 2s infinite;
}

/* Barra de Pesquisa */
#Pesquisa{
	border: none;
	border-bottom: 2px solid white;
	color: white;
	background: transparent;
	padding: 7px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: bold;
}
#Pesquisa::-webkit-input-placeholder{
	color: whitesmoke;
	letter-spacing: 3px;
}
#Pesquisa::-moz-placeholder{
	color: whitesmoke;
	letter-spacing: 3px;
}
#Pesquisa:-ms-input-placeholder{
	color: whitesmoke;
	letter-spacing: 3px;
}
#Pesquisa::-ms-input-placeholder{
	color: whitesmoke;
	letter-spacing: 3px;
}
#Pesquisa::placeholder{
	color: whitesmoke;
	letter-spacing: 3px;
}
/* Caixa de informação */
dialog {
    position: absolute;
    -webkit-animation: 0.5s surgir;
            animation: 0.5s surgir;
    border: none;
    color: orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    visibility: hidden; 
    z-index: 4;
}
dialog button,
.collapse ul button
{
    border: none;
    background: transparent;
    outline: none; 
    margin: 5px 0;
}
dialog i{
	color: orange;
}
/* Caixa de Pesquisa */
dialog:ntd-child(3) div{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: arial;
	color: black;
	border: 1px solid orange;
	border-radius: 10px;
	overflow: auto;
	max-height: 60vh;
}
#rolagem_caixa{
	overflow: auto;
	max-height: 45vh;
}
/* Carousel */
.carousel-caption, 
.carousel-control-next,
.carousel-control-prev
 {
    z-index: 0 !important;
}
.carousel-indicators{
	z-index: 1 !important;
}
/* Caixa de Pesquisa */
#caixaPesq{
	overflow: auto;
}
#item_caixa_pesq{
	width: 250px;
}
/* Alertas */
.alertas{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	-webkit-animation: 1s surgir;
	        animation: 1s surgir;
}

/* Itens do Cabeçalho do Site*/
.novidade-cabecalho{
	background-color: orange;
	text-align: center;
	color: white;
	font-family: 'Hot Kiss';
	font-size: 1.2em;
}
#informacoes{
    width: 40px !important;
    height: 40px !important;
}
/* Menu para Dispositivo Desktop */
.navegacao{
	position: fixed;
	-webkit-animation: 1s surgir;
	        animation: 1s surgir;
	z-index: 3;
}
/* Menu para Dispositivo Mobile */
.collapse{
	position: fixed;
	left: 0;
	width: 50vw;
	height: 100vh;
	z-index: 3;
	background: white;
	-webkit-animation: surgir 1s;
	        animation: surgir 1s;
}

/* Campo dos Produtos*/
.produto{
    width: 310px;
    height: 220px;
    padding: 15px;
    margin: 15px 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: white;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.produto img{
    display: block;
    margin: auto;
    width: 120px  !important;
    height: 65px !important;
    margin-bottom: 5px;
}

/* Ajustando ScrollBar da Página */
html::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
}
html::-webkit-scrollbar-track {
    background: #343a40; 
}
html::-webkit-scrollbar-thumb {
    background: #ffc107; 
    border-radius: 10px;
}

/* Cartão */
.caixa_cartao{
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}
#cartao{
	width: 65%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
	-webkit-box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.5);
	        box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.5);
    background: -o-linear-gradient(left, red, #ff7b5a);
    background: -webkit-gradient(linear, left top, right top, from(red), to(#ff7b5a));
    background: linear-gradient(to right, red, #ff7b5a);
	border-radius: 10px;
	margin: auto;
}

/* Inputs e label e button do cartão */
#cartao input::-webkit-input-placeholder{
	font-family: 'Dot Digital';
	color: white;
	font-size: 1.2em;
}
#cartao input::-moz-placeholder{
	font-family: 'Dot Digital';
	color: white;
	font-size: 1.2em;
}
#cartao input:-ms-input-placeholder{
	font-family: 'Dot Digital';
	color: white;
	font-size: 1.2em;
}
#cartao input::-ms-input-placeholder{
	font-family: 'Dot Digital';
	color: white;
	font-size: 1.2em;
}
#cartao input,
#cartao input::placeholder,
#cartao{
	font-family: 'Dot Digital';
	color: white;
	font-size: 1.2em;
}
#cartao input{
	background: transparent;
	border: none;
}
#cartao label{
	font-weight: bold;
}
#cartao button{
	background: transparent;
	border: none;
	color: white;
}
.img_fluid img{
	width: 50px !important;
	height: 80px !important;
}
.dropdown div{
	height: 200px !important;
	overflow: auto !important;
}

/* Lados do cartão */
.cartaoLado:nth-child(1),
.data-info
{
	padding: 50px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.transforma {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* Fundo do cartão */
.elo{ 
	background: -o-linear-gradient(right,#ffcc0d, #08a7e0, #ef472a) !important; 
	background: -webkit-gradient(linear,right top, left top,from(#ffcc0d), color-stop(#08a7e0), to(#ef472a)) !important; 
	background: linear-gradient(to left,#ffcc0d, #08a7e0, #ef472a) !important;
}
.visa{
	background: -o-linear-gradient(right, #212675, #f7b808) !important;
	background: -webkit-gradient(linear, right top, left top, from(#212675), to(#f7b808)) !important;
	background: linear-gradient(to left, #212675, #f7b808) !important;
}
.jcb,
.jcb15
{
	background: -o-linear-gradient(right, #212675, red, green) !important;
	background: -webkit-gradient(linear, right top, left top, from(#212675), color-stop(red), to(green)) !important;
	background: linear-gradient(to left, #212675, red, green) !important;
}
.maestro{
	background: -o-linear-gradient(right, #08a7e0, red) !important;
	background: -webkit-gradient(linear, right top, left top, from(#08a7e0), to(red)) !important;
	background: linear-gradient(to left, #08a7e0, red) !important;
}
.unionplay{
	background: -o-linear-gradient(right, #e31f3c,#084a80,#087f88) !important;
	background: -webkit-gradient(linear, right top, left top, from(#e31f3c),color-stop(#084a80),to(#087f88)) !important;
	background: linear-gradient(to left, #e31f3c,#084a80,#087f88) !important;
}
.amex{
	background: -o-linear-gradient(right, #084a80,#087f88) !important;
	background: -webkit-gradient(linear, right top, left top, from(#084a80),to(#087f88)) !important;
	background: linear-gradient(to left, #084a80,#087f88) !important;
}
.discover{
	background: -o-linear-gradient(right, #dcdcdc, #f7720a) !important;
	background: -webkit-gradient(linear, right top, left top, from(#dcdcdc), to(#f7720a)) !important;
	background: linear-gradient(to left, #dcdcdc, #f7720a) !important;
}
.diners{
	background: -o-linear-gradient(right, #dcdcdc, #0079be) !important;
	background: -webkit-gradient(linear, right top, left top, from(#dcdcdc), to(#0079be)) !important;
	background: linear-gradient(to left, #dcdcdc, #0079be) !important;
}
.mastercard{
	background: -o-linear-gradient(right, red, orange) !important;
	background: -webkit-gradient(linear, right top, left top, from(red), to(orange)) !important;
	background: linear-gradient(to left, red, orange) !important;
}

/* Tela de adição de endereço */
.end_body {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-animation: surgir 2s;
            animation: surgir 2s;
    top: 0;
    left: 0;
}
.end_dados {
    width: 50%;
}

/*Rodapé*/
footer i{
	cursor: pointer;
}
footer ul{
	list-style-type: none;
}

/* Hovers */
footer a:hover{
	font-weight: bold;
	color: gray !important;
	text-decoration: none !important;;
	-webkit-transition: all 3s;;
	-o-transition: all 3s;;
	transition: all 3s;
}
footer a:not(:hover){
	text-decoration: none;
	color: white;
	-webkit-transition: all 3s;
	-o-transition: all 3s;
	transition: all 3s;	
}
footer i:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}
footer i:not(:hover){
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}
.produto:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.produto:not(:hover){
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.link_rodape:hover{
	-webkit-animation: arcoiris 1s infinite !important;
	        animation: arcoiris 1s infinite !important;
}
.link_rodape:not(:hover){
	color: white;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
#cartao input:hover{
    border-bottom: 2px dashed white !important;
}

/* Animações */
@-webkit-keyframes surgir{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}
@keyframes surgir{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}
@-webkit-keyframes sumir{
	from{
		opacity: 1;
	}to{
		opacity: 0;
	}
}
@keyframes sumir{
	from{
		opacity: 1;
	}to{
		opacity: 0;
	}
}
@-webkit-keyframes s6 { 
	100%{-webkit-transform: rotate(1turn);transform: rotate(1turn)}
  }

@keyframes s6 { 
	100%{
		-webkit-transform: rotate(1turn);transform: rotate(1turn)
	}
}

@-webkit-keyframes arcoiris{
    0% { 
    	color: red; 
    }
    14% { 
    	color: orange; 
    }
    28% { 
    	color: yellow; 
    }
    42% { 
    	color: green; 
    }
    57% { 
    	color: blue; 
    }
    71% { 
    	color: indigo; 
   	}
    85% { 
    	color: violet; 
    }
    100% { 
    	color: red; 
    }
}

@keyframes arcoiris{
    0% { 
    	color: red; 
    }
    14% { 
    	color: orange; 
    }
    28% { 
    	color: yellow; 
    }
    42% { 
    	color: green; 
    }
    57% { 
    	color: blue; 
    }
    71% { 
    	color: indigo; 
   	}
    85% { 
    	color: violet; 
    }
    100% { 
    	color: red; 
    }
}

@-webkit-keyframes pulsar{
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}50%{
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes pulsar{
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 767.98px) { 
	.navegacao{
		top: 0%;
	}
	.form-inline{
		width: 90%;
	}
    .end_body,
    .end_dados {
        height: 100vh;
        overflow: auto;
    }
    .end_dados {
        width: 90%;
    }
}